<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcao.menza"
    android:versionName="2.1"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">

        <provider
            android:name="com.arcao.feedback.FeedbackFileProvider"
            android:authorities="${applicationId}.provider.feedback"
            android:exported="true"
            android:enabled="true"
            android:grantUriPermissions="true"/>

        <activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@style/AppTheme.NavigationDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:label="@string/action_settings"/>
        <activity android:name=".WebViewActivity"/>
        <activity android:name=".MealPreviewActivity" android:label="@string/preview_meal" android:theme="@style/PopupTheme"/>
        <activity android:name=".PlacePreviewActivity" android:theme="@style/PopupTheme"/>
        <activity android:name=".ShortcutActivity" android:theme="@style/NoWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
